<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Cada um tem <%= oq %> que merece</title>

    <meta property="og:image" content="http://<%= @request.host_with_port %>/memes/soclose.gif"/>
    <meta property="og:title" content="Cada um tem <%= oq %> que merece"/>

    <meta name="description" content="Se você recebeu esse link, você fez por merecer"/>

    <link rel="canonical" href="<%= @request.url %>"/>
    <meta property="og:url" content="<%= @request.url %>"/>

    <style>
      body {
        font-family: Arial,Helvetica,Sans-Serif;
        text-align: center;
      }

      a {
        text-decoration: none;
      }

      h1 {
        position: absolute;
        top: 50%;
        width: 98%;
        margin: -200px 0 0 0;
        text-transform: uppercase;
        font-size: 30px;
        color: #c5c5c5;
      }

      h1 strong {
        font-size: 200px;
        display: block;
        color: #000;
      }

      .hidden {
        display: none;
      }

      .freddie {
        border: 0;
        position: absolute;
        bottom: 10px;
        right: 10px;
        z-index: 5;
      }

      .freddie img {
        border: 0;
      }

      .toolbar {
        position: absolute;
        bottom: 10px;
        left: 20px;
      }

      #shortenerForm {
        display: inline;
      }

      #shortenerForm input {
        border: #ccc 1px solid;
      }

      #shortenerForm button {
        border: none;
        background: transparent;
        color: #ccc;
      }

      .toolbar .hidden {
        display: none;
      }

      .toolbar a:hover {
        color: #ddd;
      }
    </style>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-761701-10']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

      function shorten() {
        BitlyClient.shorten("<%= request.url %>", "fillShortenedURL");
      }

      function fillShortenedURL(data) {
        var field = document.getElementById("shortenedUrl");

        for (var attr in data.results) {
          var result = data.results[attr];

          document.getElementById("generateShortenedUrl").setAttribute("class", "hidden");

          field.setAttribute("value", result.shortUrl);
          field.setAttribute("class", "");

          break;
        }
      }
    </script>

    <script type="text/javascript" charset="utf-8" src="http://bit.ly/javascript-api.js?version=latest&login=danielfm&apiKey=R_1ad173255a2f873c46e3f7bb312380ac"></script>
  </head>
  <body>
    <h1>Cada um tem <%= oq %> que <strong>merece.</strong></h1>

    <div class="freddie">
      <a href="http://9gag.com" target="_blank">
        <img src="/memes/soclose.gif" alt="U mad?"/>
      </a>
    </div>

    <div class="toolbar">
      <form id="shortenerForm" action="#" onsubmit="return false;">
        <input id="shortenedUrl" class="hidden" type="text" name="shortenedUrl" value="" size="30"/>
        <button id="generateShortenedUrl" type="button" onclick="return shorten();">...</button>
      </form>
    </div>
  </body>
</html>
